[submodule "module/User"]
	path = module/User
	url = git@github.com:comcduarte/com-user.git
[submodule "module/Settings"]
	path = module/Settings
	url = git@github.com:comcduarte/com-settings.git
[submodule "module/Components"]
	path = module/Components
	url = git@github.com:comcduarte/com-ponents.git
[submodule "module/Acl"]
	path = module/Acl
	url = git@github.com:comcduarte/com-acl.git
[submodule "module/Annotation"]
	path = module/Annotation
	url = git@github.com:comcduarte/com-annotation.git
[submodule "module/Contact"]
	path = module/Contact
	url = git@github.com:comcduarte/com-contact.git
[submodule "module/Employee"]
	path = module/Employee
	url = git@github.com:comcduarte/com-employee.git
